<h1>Recent News</h1>
<%= paginate @articles %>
<% permitted_to? :create, :news_articles do %>
    <p><%= link_to raw("Add News Article &raquo;"), new_news_article_path %></p>
<% end %>
<% num = @articles.length; i = 1 %>
<% if num > 0 %>
	<% @articles.each do |n| %>
		<p><span class="title"><%=h n.title %></span><br />
			<span class="pubDate"><%= display_time(n.timestamp) %></span>
		</p>
		<div style="clear: both;"></div>
		<%= truncate_html(n.body, :length => 500) %>
		<p class="small_right"><%= link_to raw("Read More &raquo;"), news_article_path(n) %></p>
		<% permitted_to?(:edit, :news_articles) && permitted_to?(:destroy, :news_articles) do %>
		    <p>
		   	   <%= link_to "Edit", edit_news_article_path(n) %> | 
			   <%= link_to "Delete", news_article_path(n), :method => :delete, 
	                :confirm => 'Are you sure?' %>
		    </p>
		<% end %>
		<% if i < num %>
			<hr />
		<% end; i += 1 %>
	<% end %>
<% else %>
    <p>There are no news articles to view at this time. Please check back again soon.</p>
<% end %>
<%= paginate @articles %>
