<h1>Recent News</h1>
<% unless @articles.blank? %>
	<% num = @articles.length; i = 1 %>
	<% @articles.each do |n| %>
		<p><span class="title"><%=h n.title %></span><br />
			<span class="pubDate"><%= display_time(n.timestamp) %></span></p>
		<%= truncate(n.body, :length => 500) %>
		<p class="right"><%= link_to "Read More &raquo;", news_article_path(n) %></p>
		<% if i < num %>
			<hr />
		<% end; i += 1 %>
	<% end %>
	<%= will_paginate @articles %>
<% else %>
	<p>There are no news articles to view at this time. Please check back again soon.</p>
<% end %>