<script type="text/javascript" src="http://comparative-legumes.org/javascripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/javascripts/ckfinder/ckfinder.js"></script>

<h1>Add News Article</h1>
<p><%= link_to raw("Return &raquo;"), news_articles_path %></p>
<%= form_for @article do |f| %>
  <%= render "shared/error_messages", :target => @article %>
  <p>
    <%= f.label :title, "Title:" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Details:" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add News Article", :id => "submit", :class => "submit" %></p>
<% end %>

<script type="text/javascript">
  CKEDITOR.replaceAll( function(textarea, config){
    config.toolbar = "<%= @tool_bar %>";
  });
  CKFinder.setupCKEditor( null, '/javascripts/ckfinder/');
</script>
