<% content_for :news do %>
	<h1>Recent News</h1>
	<% unless @articles.blank? %>
		<% num = @articles.length; i = 1 %>
		<% @articles.each do |n| %>
			<p><span class="title"><%=h n.title %></span><br />
				<span class="pubDate"><%= display_time(n.timestamp) %></span>
			</p>
			<div style="clear: both;"></div>
			<%= truncate(n.body, :length => 200) %>
			<p class="right"><%= link_to "Read More &raquo;", news_article_path(n) %></p>
			<% if i < num %>
				<hr />
			<% end; i += 1 %>
		<% end %>
	<% else %>
		<p>There are no news articles to view at this time. Please check back again soon.</p>
	<% end %>
<% end %>

<h1>Welcome</h1>
<p>The mission of the Legume Information System is to improve the productivity of crop breeders and basic researchers in 
Fabaceae by expertise and up-to-date information bridging the reference species. The vision is to leverage data-rich model 
plants to fill knowledge gaps across crop plant species and provide the ability to traverse between interrelated data types.</p>
<p>Its usefulness depends upon your suggestions for improvement, feedback, and questions. Contact the team at 
<%= mail_to "lis_feedback@ncgr.org", "lis_feedback@ncgr.org", :encode => "javascript" %>.</p>

<h1>Tools</h1>

<p><strong>Tool #1</strong>.</p>
<p>Blah blah blah...</p>
<p class="right"><a id="tool_1_toggle" href="#" onclick="new Effect.Accordion('tool_1');">Read More</a></p>
<div id="tool_1" class="accordion_toggle">
	<div>
		<p>Lorem ipsum dolor sit amet, sunt erat magna, in vulputate aliquam. Mi ultricies aliquam duis hymenaeos sem mi, luctus eget hymenaeos, 
		potenti eros velit, in quisque integer felis nisl. Dictumst fringilla est orci tempor, per vel fermentum sed lectus rhoncus, tortor in 
		cursus nibh odio magna, lorem class in, mi amet quibusdam ridiculus duis viverra. Magna quis donec aliquet sed pede vivamus. 
		Nisl tempus adipiscing interdum vitae tincidunt, consectetuer aliquam et morbi vulputate et mi. Lorem eu pellentesque proin 
		donec erat, quis erat id convallis purus et, wisi proin amet curabitur eu. Volutpat pede cras risus est tellus. Et nullam quis et sit 
		arcu, velit ut tortor dolor neque ante magnis, porttitor quis sit purus massa. Nec lectus aliquam suspendisse viverra.</p>
		<p>Nisl phasellus ut pellentesque nunc nam, tristique morbi duis pretium non ut, curabitur etiam mollis integer. Lacus scelerisque, 
		accumsan nullam sed, volutpat lacus enim ante, sit nec nunc. In hac vitae. Praesent turpis sed venenatis felis nulla, ac aliquam est 
		non, orci phasellus netus ipsum luctus magna ut. Elit ac, vel imperdiet egestas velit sed luctus. Dignissim consectetuer posuere 
		viverra sociosqu. Nunc dictum duis, diam eget. Eget viverra, praesent eget tellus quam, integer posuere eius, sit ultricies rutrum 
		vestibulum, neque vitae. Malesuada libero velit augue, dictum orci sed gravida, curabitur dictumst lacinia. Consectetuer ut odio 
		sollicitudin, erat eros elit, mi auctor lorem quis elementum tincidunt. Diam nulla adipiscing donec blandit aspernatur. 
		Mi scelerisque, integer enim, vulputate ultrices sit nec tempus quas.</p>
	</div>
</div>

<p><strong>Tool #2</strong>.</p>
<p>Blah blah blah...</p>
<p class="right"><a id="tool_2_toggle" href="#" onclick="new Effect.Accordion('tool_2');">Read More</a></p>
<div id="tool_2" class="accordion_toggle">
	<div>
		<p>Lorem ipsum dolor sit amet, sunt erat magna, in vulputate aliquam. Mi ultricies aliquam duis hymenaeos sem mi, luctus eget hymenaeos, 
		potenti eros velit, in quisque integer felis nisl. Dictumst fringilla est orci tempor, per vel fermentum sed lectus rhoncus, tortor in 
		cursus nibh odio magna, lorem class in, mi amet quibusdam ridiculus duis viverra. Magna quis donec aliquet sed pede vivamus. 
		Nisl tempus adipiscing interdum vitae tincidunt, consectetuer aliquam et morbi vulputate et mi. Lorem eu pellentesque proin 
		donec erat, quis erat id convallis purus et, wisi proin amet curabitur eu. Volutpat pede cras risus est tellus. Et nullam quis et sit 
		arcu, velit ut tortor dolor neque ante magnis, porttitor quis sit purus massa. Nec lectus aliquam suspendisse viverra.</p>
		<p>Nisl phasellus ut pellentesque nunc nam, tristique morbi duis pretium non ut, curabitur etiam mollis integer. Lacus scelerisque, 
		accumsan nullam sed, volutpat lacus enim ante, sit nec nunc. In hac vitae. Praesent turpis sed venenatis felis nulla, ac aliquam est 
		non, orci phasellus netus ipsum luctus magna ut. Elit ac, vel imperdiet egestas velit sed luctus. Dignissim consectetuer posuere 
		viverra sociosqu. Nunc dictum duis, diam eget. Eget viverra, praesent eget tellus quam, integer posuere eius, sit ultricies rutrum 
		vestibulum, neque vitae. Malesuada libero velit augue, dictum orci sed gravida, curabitur dictumst lacinia. Consectetuer ut odio 
		sollicitudin, erat eros elit, mi auctor lorem quis elementum tincidunt. Diam nulla adipiscing donec blandit aspernatur. 
		Mi scelerisque, integer enim, vulputate ultrices sit nec tempus quas.</p>
	</div>
</div>

<p><strong>Tool #3</strong>.</p>
<p>Blah blah blah...</p>
<p class="right"><a id="tool_3_toggle" href="#" onclick="new Effect.Accordion('tool_3');">Read More</a></p>
<div id="tool_3" class="accordion_toggle">
	<div>
		<p>Lorem ipsum dolor sit amet, sunt erat magna, in vulputate aliquam. Mi ultricies aliquam duis hymenaeos sem mi, luctus eget hymenaeos, 
		potenti eros velit, in quisque integer felis nisl. Dictumst fringilla est orci tempor, per vel fermentum sed lectus rhoncus, tortor in 
		cursus nibh odio magna, lorem class in, mi amet quibusdam ridiculus duis viverra. Magna quis donec aliquet sed pede vivamus. 
		Nisl tempus adipiscing interdum vitae tincidunt, consectetuer aliquam et morbi vulputate et mi. Lorem eu pellentesque proin 
		donec erat, quis erat id convallis purus et, wisi proin amet curabitur eu. Volutpat pede cras risus est tellus. Et nullam quis et sit 
		arcu, velit ut tortor dolor neque ante magnis, porttitor quis sit purus massa. Nec lectus aliquam suspendisse viverra.</p>
		<p>Nisl phasellus ut pellentesque nunc nam, tristique morbi duis pretium non ut, curabitur etiam mollis integer. Lacus scelerisque, 
		accumsan nullam sed, volutpat lacus enim ante, sit nec nunc. In hac vitae. Praesent turpis sed venenatis felis nulla, ac aliquam est 
		non, orci phasellus netus ipsum luctus magna ut. Elit ac, vel imperdiet egestas velit sed luctus. Dignissim consectetuer posuere 
		viverra sociosqu. Nunc dictum duis, diam eget. Eget viverra, praesent eget tellus quam, integer posuere eius, sit ultricies rutrum 
		vestibulum, neque vitae. Malesuada libero velit augue, dictum orci sed gravida, curabitur dictumst lacinia. Consectetuer ut odio 
		sollicitudin, erat eros elit, mi auctor lorem quis elementum tincidunt. Diam nulla adipiscing donec blandit aspernatur. 
		Mi scelerisque, integer enim, vulputate ultrices sit nec tempus quas.</p>
	</div>
</div>

<script type="text/javascript">
	document.observe('dom:loaded', hideAccordions);		// Hide accordions on page load
	document.observe('unload', hideAccordions);			// Hide accordions on page unload
	
	/**
	 * Hide Accordions.
	 */
	function hideAccordions () {
		var verticalAccordions = $$('.accordion_toggle');
		verticalAccordions.each(function(accordion) {
			$(accordion).hide();
		});
	}
</script>
