<% content_for :rightcol do %>
	<h1>Welcome</h1>
	<p>The mission of the Legume Information System is to improve the productivity of crop breeders and basic researchers in 
	Fabaceae by expertise and up-to-date information bridging the reference species. The vision is to leverage data-rich model 
	plants to fill knowledge gaps across crop plant species and provide the ability to traverse between interrelated data types.</p>
	<p>Its usefulness depends upon your suggestions for improvement, feedback, and questions. Contact the team at 
	<%= mail_to "lis_feedback@ncgr.org", "lis_feedback@ncgr.org", :encode => "javascript" %>.</p>
	<hr />
	<h1>Recent News</h1>
	<% unless @articles.blank? %>
		<% num = @articles.length; i = 1 %>
		<% @articles.each do |n| %>
			<p><span class="title"><%=h n.title %></span><br />
				<span class="pubDate"><%= display_time(n.timestamp) %></span>
			</p>
			<div style="clear: both;"></div>
			<%= truncate_html(n.body, :length => 50) %>
			<p class="small_right"><%= link_to "Read More &raquo;", news_article_path(n) %></p>
			<% if i < num %>
				<hr />
			<% end; i += 1 %>
		<% end %>
	<% else %>
		<p>There are no news articles to view at this time. Please check back again soon.</p>
	<% end %>
<% end %>

<h1>Getting Started</h1>

<p><span class="title">Gene to Function</span></p>
<ul class="web-nobullet">
	<li>
		Do a <%= link_to "gene multi-target search", "http://search.comparative-legumes.org/seqqle/new" %> against genomic, expression, other databases: 
		<%= link_to "UniProt", "http://www.uniprot.org/", :target => "_blank" %>, 
		<%= link_to "Phytozome", "http://www.phytozome.org/", :target => "_blank" %>, 
		<%= link_to "PLAZA", "http://bioinformatics.psb.ugent.be/plaza/", :target => "_blank" %>, 
		<%= link_to "MtGEA", "http://mtgea.noble.org/v2/", :target => "_blank" %>, 
		<%= link_to "Soybase", "http://soybase.org/", :target => "_blank" %>, 
		<%= link_to "Mt-JCVI", "http://www.jcvi.org/cgi-bin/medicago/index.cgi", :target => "_blank" %>, 
		<%= link_to "Lj-Kazusa", "http://www.kazusa.or.jp/lotus/", :target => "_blank" %>.
	</li>
	<li>
		See your <%= link_to "gene(s) on a whole-genome viewer", "http://search.comparative-legumes.org/seqqle/new" %> of 
		<%= link_to "soybean", "http://soybase.org/GlycineBlastPages/", :target => "_blank" %> or 
		<%= link_to "Medicago", "http://medicago.org/genome/cvit_blast.php", :target => "_blank" %>.
	</li>
</ul>

<p><span class="title">Trait to Gene</span></p>
<ul class="web-nobullet">
	<li>Find markers or QTLs around your trait of interest in your species. <a id="tool_1_toggle" class="small" onclick="new Effect.Accordion('tool_1');">More[+]</a></li>
</ul>
	<div id="tool_1" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li>Genetic <%= link_to "maps and map comparisons", "http://cmap.comparative-legumes.org", :target => "_blank" %></li>
			<li><%= link_to "QTLs and traits at SoyBase", "http://soybeanbreederstoolbox.org/search/search_results.php?category=QTLName", :target => "_blank" %></li>
			<li><%= link_to "QTLs and traits at PhaseolusGenes", "http://phaseolusgenes.bioinformatics.ucdavis.edu/search", :target => "_blank" %></li>
		</ul>
	</div>
<ul class="web-nobullet">
	<li>Find those markers on a reference genome sequence. <a id="tool_2_toggle" class="small" onclick="new Effect.Accordion('tool_2');">More[+]</a></li>
</ul>
	<div id="tool_2" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li>Markers for numerous species <%= link_to "on soybean at SoyBase", "http://soybeanbreederstoolbox.org/search/search_results.php?category=LocusName", :target => "_blank" %></li>
			<li>Markers for Medicago truncatula and Cicer arietinum (chickpea) <%= link_to "on Medicago truncatula at JCVI", "http://gbrowse.jcvi.org/cgi-bin/gbrowse/medicago_imgag/", :target => "_blank" %></li>
			<li>Markers for Lotus japonicus <%= link_to "on Lotus japonicus at Kazusa", "http://www.kazusa.or.jp/lotus/markerdb_index.html", :target => "_blank" %></li>
		</ul>
	</div>
<ul class="web-nobullet">
	<li>Examine gene functions and expression on the reference genomes. <a id="tool_3_toggle" class="small" onclick="new Effect.Accordion('tool_3');">More[+]</a></li>
</ul>
	<div id="tool_3" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li><%= link_to "On soybean at SoyBase", "http://soybase.org/gbrowse/cgi-bin/gbrowse/gmax1.01/?start=41401033;stop=41501032;ref=Gm13;width=1024;version=100;drag_and_drop=on;show_tooltips=on;grid=on;label=centromere:overview-pericentromere:overview-Glyma1-Phaseolus_vulgaris-Phaseolus_vulgaris_release_2-Cajanus_cajan-Chamaecrista_clean-Vigna_unguiculata-Lotus_japonicus_release_1-seed_development_transcript_count-seed_development_transcript_density", :target => "_blank" %></li>
			<li><%= link_to "On Medicago truncatula at JCVI", "http://gbrowse.jcvi.org/cgi-bin/gbrowse/medicago_imgag/", :target => "_blank" %></li>
		</ul>
	</div>

<p><span class="title">Process to Network of Genes</span></p>
<ul class="web-nobullet">
	<li>Search for differential expression in gene expression databases. <a id="tool_4_toggle" class="small" onclick="new Effect.Accordion('tool_4');">More[+]</a></li>
</ul>
	<div id="tool_4" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li><%= link_to "Soybean transcript atlas", "http://soybase.org/soyseq/", :target => "_blank" %></li>
			<li><%= link_to "Medicago gene expression atlas", "http://mtgea.noble.org/v2/", :target => "_blank" %></li>
		</ul>
	</div>
<ul class="web-nobullet">
	<li>Map those genes onto metabolic pathway pictures. <a id="tool_5_toggle" class="small" onclick="new Effect.Accordion('tool_5');">More[+]</a></li>
</ul>
	<div id="tool_5" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li><%= link_to "SoyCyc soybean metabolic pathway database", "http://www.soybase.org:8082/", :target => "_blank" %></li>
			<li><%= link_to "MedicCyc Medicago metabolic pathway database", "http://metacyc.org/", :target => "_blank" %></li>
		</ul>
	</div>

<p><span class="title">Haplotype or GWAS</span></p>
<ul class="web-nobullet">
	<li><%= link_to "Medicago truncatula HapMap project", "http://medicagohapmap.org/", :target => "_blank" %></li>
</ul>

<p><span class="title">Your Project</span></p>
<p>Have a project or data set not repersented here? Please <%= mail_to "lis_feedback@ncgr.org", "contact us", :encode => "javascript" %>.</p>

<script type="text/javascript">
	document.observe('dom:loaded', hideAccordions);		// Hide accordions on page load
	document.observe('unload', hideAccordions);			// Hide accordions on page unload
</script>
