<% content_for :rightcol do %>
	<h4>Welcome</h4>
	<p>The mission of LIS is to facilitate discoveries and crop improvement in the legumes -- 
	critical components of global agriculture. Please send us your questions, suggestions, 
	and contributions! 
	<%= mail_to "lis_feedback@ncgr.org", "lis_feedback@ncgr.org", :encode => "javascript" %></p>
	<hr />
	<h4>Meetings</h4>
	<% unless @meetings.blank? %>
	    <% @meetings.each do |m| %>
           <p><%= link_to m.title, m.url %><br />
		   <em><%= format_start_end_date(m.start_date, m.end_date) %></em></p>
        <% end %>
	<% else %>
	   <p>There are no meetings to view at this time. Please check back again soon.</p>
	<% end %>
	<hr />
	<h4>Recent News</h4>
	<% unless @articles.blank? %>
		<% @articles.each do |n| %>
			<p><em><%= display_time(n.timestamp) %></em> -- <%= truncate_html(n.body.sub(/^<[a-z]+>/, ''), :length => 100) %>
			<p class="small_right"><%= link_to raw("Read More &raquo;"), news_article_path(n) %></p>
		<% end %>
	<% else %>
		<p>There are no news articles to view at this time. Please check back again soon.</p>
	<% end %>
	<hr />
	<h4>Development</h4>
	<% unless @activities.blank? %>
		<% @activities.each do |n| %>
			<p><em><%= display_time(Time.parse(n.date)) %></em> -- <%= truncate(n.body, :length => 100) %></p>
			<p class="small_right"><%= link_to raw("Read More &raquo;"), development_activities_path %></p>
		<% end %>
	<% else %>
		<p>There is no development activity to view at this time. Please check back again soon.</p>
	<% end %>
<% end %>

<h1>Getting Started</h1>

<p><span class="title">Gene &rarr; Function</span></p>
<ul class="web-nobullet">
	<li>
		Do a gene multi-target search against genomic, expression, other databases with the 
		<%= link_to "LIS Seqqle search tool", "http://search.comparative-legumes.org/seqqle/new" %>. 
		<a id="tool_1_toggle" class="small" onclick="new Effect.Accordion('tool_1');">More [+]</a>
	</li>
</ul>
	<div id="tool_1" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li>
				Target databases for <%= link_to "Seqqle", "http://search.comparative-legumes.org/seqqle/new" %>:<br />
				<%= link_to "Soybase GBrowse", "http://soybase.org/gbrowse/cgi-bin/gbrowse/gmax1.01/", :target => "_blank" %>, <br />
				<%= link_to "Kazusa Lotus japonicus GBrowse", "http://gsv.kazusa.or.jp/cgi-bin/gbrowse/lotus/", :target => "_blank" %>, <br />
				<%= link_to "JCVI Medicago truncatula GBrowse", "http://gbrowse.jcvi.org/cgi-bin/gbrowse/medicago/", :target => "_blank" %>, <br />
				<%= link_to "LIS Medicago truncatula GBrowse", "http://medtr.comparative-legumes.org/gb2/gbrowse/current/", :target => "_blank" %>, <br />
				<%= link_to "Medicago truncatula HapMap GBrowse", "http://www.medicagohapmap.org/cgi-bin/gbrowse/mthapmap/", :target => "_blank" %>, <br />
				<%= link_to "Noble Foundation Medicago truncatula Gene Expression Atlas", "http://mtgea.noble.org/v2/", :target => "_blank" %>, <br />
				<%= link_to "UniProt", "http://www.uniprot.org/", :target => "_blank" %>.
			</li>
		</ul>
	</div>

<p><span class="title">Trait &rarr; Gene</span></p>
<ul class="web-nobullet">
	<li>Find markers or QTLs around your trait of interest in your species. 
	<a id="tool_2_toggle" class="small" onclick="new Effect.Accordion('tool_2');">More [+]</a></li>
</ul>
	<div id="tool_2" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li>Genetic <%= link_to "maps and map comparisons", "http://cmap.comparative-legumes.org", :target => "_blank" %></li>
			<li><%= link_to "QTLs and traits at SoyBase", "http://soybeanbreederstoolbox.org/search/search_results.php?category=QTLName", :target => "_blank" %></li>
			<li><%= link_to "QTLs and traits at PhaseolusGenes", "http://phaseolusgenes.bioinformatics.ucdavis.edu/search", :target => "_blank" %></li>
		</ul>
	</div>
<ul class="web-nobullet">
	<li>Find those markers on a reference genome sequence. 
	<a id="tool_3_toggle" class="small" onclick="new Effect.Accordion('tool_3');">More [+]</a></li>
</ul>
	<div id="tool_3" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li>Markers for numerous species <%= link_to "on soybean at SoyBase", "http://soybeanbreederstoolbox.org/search/search_results.php?category=LocusName", :target => "_blank" %></li>
			<li>Markers for Lotus japonicus <%= link_to "on Lotus japonicus at Kazusa", "http://www.kazusa.or.jp/lotus/markerdb_index.html", :target => "_blank" %></li>
			<li>Markers for Medicago truncatula <%= link_to "on Medicago genome at LIS", "http://medtr.comparative-legumes.org/gb2/gbrowse/current/", :target => "_blank" %></li>
		</ul>
	</div>
<ul class="web-nobullet">
	<li>Examine gene functions and expression on the reference genomes. 
	<a id="tool_4_toggle" class="small" onclick="new Effect.Accordion('tool_4');">More [+]</a></li>
</ul>
	<div id="tool_4" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li><%= link_to "On soybean at SoyBase", "http://soybase.org/gbrowse/cgi-bin/gbrowse/gmax1.01/?start=41401033;stop=41501032;ref=Gm13;width=1024;version=100;drag_and_drop=on;show_tooltips=on;grid=on;label=centromere:overview-pericentromere:overview-Glyma1-Phaseolus_vulgaris-Phaseolus_vulgaris_release_2-Cajanus_cajan-Chamaecrista_clean-Vigna_unguiculata-Lotus_japonicus_release_1-seed_development_transcript_count-seed_development_transcript_density", :target => "_blank" %></li>
			<li><%= link_to "On Medicago truncatula at JCVI", "http://gbrowse.jcvi.org/cgi-bin/gbrowse/medicago/", :target => "_blank" %></li>
			<li><%= link_to "On Medicago truncatula at LIS", "http://medtr.comparative-legumes.org/gb2/gbrowse/current/", :target => "_blank" %></li>
		</ul>
	</div>

<p><span class="title">Biological Process &rarr; Gene Network</span></p>
<ul class="web-nobullet">
	<li>Search for differential expression in gene expression databases. 
	<a id="tool_5_toggle" class="small" onclick="new Effect.Accordion('tool_5');">More [+]</a></li>
</ul>
	<div id="tool_5" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li><%= link_to "Soybean transcript atlas", "http://soybase.org/soyseq/", :target => "_blank" %></li>
			<li><%= link_to "Medicago gene expression atlas", "http://mtgea.noble.org/v2/", :target => "_blank" %></li>
		</ul>
	</div>
<ul class="web-nobullet">
	<li>Map those genes onto metabolic pathway pictures. 
	<a id="tool_6_toggle" class="small" onclick="new Effect.Accordion('tool_6');">More [+]</a></li>
</ul>
	<div id="tool_6" class="accordion_toggle">
		<ul class="web-nobullet-indent">
			<li><%= link_to "SoyCyc soybean metabolic pathway database", "http://www.soybase.org:8082/", :target => "_blank" %></li>
			<li><%= link_to "MedicCyc Medicago metabolic pathway database", "http://www.gramene.org/pathway/mediccyc.html/", :target => "_blank" %></li>
		</ul>
	</div>

<p><span class="title">Haplotype or GWAS</span></p>
<ul class="web-nobullet">
	<li><%= link_to "Medicago truncatula HapMap project", "http://medicagohapmap.org/", :target => "_blank" %></li>
</ul>

<p><span class="title">Your Project</span></p>
<ul class="web-nobullet">
    <li>Have a project or data set not represented here? Please <%= mail_to "lis_feedback@ncgr.org", "contact us", :encode => "javascript" %>.</li>
</ul>

<script type="text/javascript">
	document.observe('dom:loaded', hideAccordions);		// Hide accordions on page load
	document.observe('unload', hideAccordions);			// Hide accordions on page unload
</script>
