<h1>Collaborators</h1>

<p><%= link_to "Kirstin Bett", "http://agbio.usask.ca/index.php?mact=StaffListing,cntnt01,detail,1&cntnt01entry_id=97&cntnt01returnid=2697&page=2697", :target => "_blank" %> 
(University of Saskatchewan). Development of lentil COS markers and transcriptome 
variant mining of 454-derived sequence data. University of Saskatchewan-funded.</p>

<p><%= link_to "Joseph Clarke", "http://www.syngentabiotech.com/biomain.aspx", :target => "_blank" %> 
(Syngenta). Analysis of soybean population level genetic diversity and the development 
of sequence-based bulk segregant analysis. Syngenta-funded.</p>

<p><%= link_to "Doug Cook", "http://medicago.ucdavis.edu/Personnel/cook/main.html", :target => "_blank" %> 
(UC Davis). BAC-end and resistance gene-homologue sequence, and cross-species orthologous 
molecular markers for chickpea, cowpea and pigeon pea. Analyses of ancesteral legume genome structure 
and content via synteny analysis of COS maps and model legume genomes. NSF-funded project.</p>

<p><%= link_to "Perry Cregan", "http://bldg6.arsusda.gov/cregan/cregan.html", :target => "_blank" %> 
(USDA, ARS, Beltsville). Pipelining and analysis of Illumina sequence data for SNP discovery 
in soybean. An ARS-funded project.</p>

<p><%= link_to "Stephane Deschamps", "http://www.pioneer.com/web/site/portal/menuitem.7ac46993d5a4a1f7bc0c0a03d10093a0/", :target => "_blank" %> 
(DuPont/Pioneer). Analysis of methylation-based genome subsampling in soybean. Pioneer-funded.</p>

<p><%= link_to "Jeff Doyle", "http://www.plantbio.cornell.edu/cals/plbio/directory/faculty.cfm?netId=jjd5", :target => "_blank" %> 
(Cornell University). Transcriptome data generation, pipelining and analysis of diploid soybean progenitor species.</p>

<p><%= link_to "Damian Gessler", "http://www.iplantcollaborative.org/computational-morphodynamics-plants/2009/10/06/compmorph-damian-gessler", :target => "_blank" %> 
(University of Arizona, iPlant Collaborative). We have implementing SSWAP (<%= link_to "http://sswap.info", "http://sswap.info", :target => "_blank" %>) 
semantic web services for LIS. This is the second phase of a two-stage development plan. In the first phase, 
we implemented over a dozen services as part of proof-of-concept work for the Legume Information Network (LIN). 
In our current work, we are collaborating with researchers at Iowa State University's Soybase to deploy services 
that will allow Soybase to programmatically access LIS sequence data. By using SSWAP, these services tag data 
using publicly accessible ontologies. They are immediately discoverable at sswap.info, and can be invoked by our 
other collaborators such as Gramene. Perhaps most importantly, by using SSWAP's OWL DL standard, these services 
render themselves amenable to machine reasoning, thereby furthering our goal of building "smart" web resources 
that computers can query to assess suitability-for-purpose based on the semantic content of the data.</p>

<p><%= link_to "Scott Jackson ", "http://genome.purdue.edu/jackson_bio/", :target => "_blank" %>
(Purdue University). Storage and display of BAC-end sequence and physical map data for Phaseolus. 
Analyses of soybean homoeologs and methylated DNA. NRI-funded project.</p>

<p><%= link_to "Steve Knapp", "http://www.cropsoil.uga.edu/personnel/faculty/knapp.html", :target => "_blank" %> 
(University of Georgia). Pipelining, analyses, and display of peanut EST, 454 and Illumina 
sequence data. NRI-funded project. Development of peanut COS markers and archiving and acquisition of complete 
Knapp data sets into LIS.</p>

<p><%= link_to "Norman Lewis", "http://ibc.wsu.edu/research/lewis/index.htm", :target => "_blank" %> 
(Washington State University). Gene expression and EST sequence assembly in Acacia species. 
NIH-funded project.</p>

<p><%= link_to "Henry Nguyen", "http://plantsci.missouri.edu/faculty/nguyen.htm", :target => "_blank" %> 
(University of Missouri). Analysis of soybean small RNAs. University of Missouri-funded.</p>

<p><%= link_to "Jeremy Schmutz", "http://www.jgi.doe.gov/", :target => "_blank" %> (Stanford), 
<%= link_to "Scott Jackson", "http://genome.purdue.edu/jackson_bio/", :target => "_blank" %> (Purdue), 
<%= link_to "Dan Rokhsar", "http://www.jgi.doe.gov/research/rokhsar.html", :target => "_blank" %> (DOE-JGI). Data management and analysis of the 
DOE-JGI Soybean Genome and NSF SoyMap (Jackson) projects. DOE and NSF-funded projects.</p>

<p><%= link_to "Susan Singer", "http://apps.carleton.edu/people/ssinger/", :target => "_blank" %> (Carleton College), 
<%= link_to "Jeff Doyle", "http://www.plantbio.cornell.edu/cals/plbio/directory/faculty.cfm?netId=jjd5", :target => "_blank" %> (Cornell University), 
<%= link_to "Steven Cannon", "http://www.ars.usda.gov/pandp/people/people.htm?personid=39095", :target => "_blank" %> (USDA-ARS). Data generation, 
analysis and display of the nodal legume species Chamaecrista. A NSF-funded project.</p>

<p><%= link_to "Gary Stacey", "http://biochem.missouri.edu/faculty/faculty-members/staceyg/index.php", :target => "_blank" %> 
(University of Missouri). Root hair and gene expression Atlas University of Missouri-funded.</p>

<p><%= link_to "Michael Udvardi", "http://www.noble.org/PlantBio/Udvardi/index.html", :target => "_blank" %> 
(Noble Foundation). Software development and inclusion in SSWAP to incorporate the Medicago 
Gene Expression Atlas. Establishment of links between LIS and Noble Medicago databases. Medicago transcriptome 
sequencing data generation (Illumina) for expression profiling and annotation of the Medicago genome. 
A Noble Foundation-funded project.</p>

<p><%= link_to "Carroll Vance", "http://agronomy.cfans.umn.edu/Vance_Carroll_P_USDA-ARS_Ph_D.html", :target => "_blank" %> (University of Minnesota), 
<%= link_to "Randy Shoemaker", "http://www.ars.usda.gov/pandp/people/people.htm?personid=5133", :target => "_blank" %> (Iowa State University). 
Evaluated high-throughput sequencing methods (Illumina) to generate agronomically relevant data in soybean. An ARS-funded project.</p>

<p><%= link_to "Rajeev Varshne", "http://www.gl-ttp.com/news_events/first_gl_ttp_workshop/bio_abstracts/rajeev_varshney", :target => "_blank" %>y 
(ICRISAT). Data generation, analysis and display of chickpea pigeon pea, development of SNP 
markers based on the results of 454 and Illumina DNA sequencing. Hosting, for broad community access, pigeon pea 
genome data (60gbytes) - ~60X coverage of Illumina data provided by D. McCombie (Cold Spring Harbor Laboratories). 
GCP-funded projects.</p>

<p><%= link_to "Nevin Young", "http://plpa.cfans.umn.edu/Nevin_D_Young.html", :target => "_blank" %> 
(University of Minnesota). Storage, display and analysis of Medicago genome. This includes the 
analysis of Illumina sequence data for genome assembly and SNP identification. NSF-funded project.</p>

<h1>Publications</h1>

<p>Schmutz, J., S.B. Cannon, J. Schlueter, J. Ma, D. Hyten, Q. Song, T. Mitros, W. Nelson, G.D. May, N. Gill, 
M. Peto, D. Goodstein, J.J. Thelen, J. Cheng, T. Sakurai, T. Umezawa, J. Du, M. Bhattacharyya, D. Sandhu, 
D. Grant, T. Joshi, M. Libault, X-C. Zhang, D. Xu, M. Futrell-Griggs, B. Abernathy, U. Hellsten K. Berry, J. Grimwood, 
R.A. Wing, P. Cregan, G. Stacey, J. Specht, D. Rokhsar, R.C. Shoemaker, S.A. Jackson. (2010) 
<%= link_to "Genome sequence of the paleopolyploid soybean (Glycine max (L.) Merr.)", "http://www.ncbi.nlm.nih.gov/pubmed/20075913", :target => "_blank" %>. 
Nature 463:178-183.</p>

<p>Hyten D.L., Cannon S.B., Song Q., Weeks N., Fickus E.W., Shoemaker R.C., Spect J.E., Farmer A.D., May G.D. and Cregan P.B. (2010) 
<%= link_to "High-throughput SNP discovery through deep resequencing of a reduced representation library to anchor and orient scaffolds 
in the soybean whole genome sequence", "http://www.ncbi.nlm.nih.gov/pubmed/20078886", :target => "_blank" %>. 
BMC Genomics 11(1):38.</p>

<p>Libault M., Farmer A., Brechenmacher L., Franck W.L., Drnevich J., Langley R.J., Bilgin D.D., Radman O., Clough S.J., 
May G. and Stacey G. (2010) 
<%= link_to "Complete transcriptome of the soybean root hair cell, a single cell model, and its alteration in response to 
Bradyrhizobium japonicum infection", "http://www.ncbi.nlm.nih.gov/pubmed/19933387", :target => "_blank" %>. 
Plant Physiology 152(2):541-52.</p>

<p>Joshi T., Yan Z., Libault M., Findley S., Sherrier J., Farmer A., May G., Meyers B., Xu D. and Stacey G. (2010) 
<%= link_to "Prediction of novel miRNAs and associated target genes in Glycine max", "http://www.ncbi.nlm.nih.gov/pubmed/20122185", :target => "_blank" %>. 
BMC Bioinformatics 11:S14.</p>

<p>Bolon Y.-T., Joseph B., Cannon S., Graham M., Diers B., Farmer A., May G.D., Muehlbauer G., Specht J., 
Tu Z.J., Weeks N., Xu W., Shoemaker R. and Vance C. (2010) 
<%= link_to "Complementary genetic and genomic approaches help characterize the linkage group I seed protein QTL in soybean", "http://www.ncbi.nlm.nih.gov/pubmed/20199683", :target => "_blank" %>. 
BMC Plant Biology 10:41-64.</p>

<p>Nelson R.T., Avraham S., Shoemaker R.C., May G.D., Ware D. and Gessler D.D.G. (2010) 
Applications and methods utilizing the Simple Semantic Web Architecture and Protocol (SSWAP) for 
bioinformatics resource discovery and disparate data and service integration. 
BioData Mining (In Press).</p>

<p>Deschamps S., la Rota M., Ratashak J., Biddle P., Thureen D., Farmer A., Luck S., Beatty M., 
Nagasawa N., Michael L., Llaca V., Sakai, H., May G., Lightner J. and Campbell M.A. (2010) 
Rapid genome-wide SNP discovery in soybean and rice using the Illumina Genome Analyzer. 
The Plant Genome (In Press).</p>

<p>Varshney R.K., Nayak SN, May G.D. and Jackson S.A. (2009) 
<%= link_to "Next-generation sequencing technologies and their implications for crop genetics and breeding", "http://www.ncbi.nlm.nih.gov/pubmed/19679362", :target => "_blank" %>. 
Trends in Biotechnology 27:9:522-530.</p>

<p>Singer S.R., Maki S.L., Farmer A.D., Ilut D., May G.D., Cannon S.B and Doyle J.J. (2009) 
<%= link_to "Venturing beyond beans and peas: What can we learn from Chamaecrista", "http://www.ncbi.nlm.nih.gov/pubmed/19755538", :target => "_blank" %>? 
Plant Physiology 151:1-7.</p>

<p>Varshney R.K., Penmetsa R.V., Dutta S., Kulwal P.L., Saxena R.K., Datta S., Sharma T.R., Rosen B., N. 
Carrasquilla-Garcia N., Farmer A.D., Dubey A., Saxena K.B., J. Gao J., Fakrudin B., Singh M.N., Singh B.P., 
Wanjari K.B., Yuan M., Srivastava R.K., Kilian A., Upadhyaya H.D., Mallikarjuna N., Town C.D., Bruening G.E., 
He G., May G.D., McCombie R., S. A. Jackson S.A., Singh N.K. and Cook D.R. (2009) 
<%= link_to "Pigeonpea genomics initiative (PGI): An international effort to improve crop productivity of pigeonpea (Cajanus cajan L.)", "http://www.springerlink.com/content/d07448767867186g/", :target => "_blank" %>. 
Mol Breeding DOI 10.1007/s11032-009-9327-2.</p>

<p>Varshney R.K., Thudi M., May G.D. and Jackson S.A. (2009) 
<%= link_to "Legume Genomics and Breeding", "http://www.wiley-vch.de/publish/en/books/ISBN978-0-470-52585-2", :target => "_blank" %>. 
Plant Breeding Reviews 33:257-304.</p>

<p>Gessler D.D.G., Schiltz G.S., May G.D., Avraham S., Town C.D., Grant D. and Nelson R.T. 
<%= link_to "SSWAP: A Simple Semantic Web Architecture and Protocol for semantic web services", "http://www.ncbi.nlm.nih.gov/pubmed/19775460", :target => "_blank" %>. 
BMC Bioinformatics 2009, 10:309-329.</p>

<p>Cannon S.B., May G.D. and Jackson, S.A. (2009) 
<%= link_to "Three Sequenced Legume Genomes and Many Crop Species: Rich Opportunities for Translational Genomics", "http://www.ncbi.nlm.nih.gov/pubmed/19759344", :target => "_blank" %>. 
Plant Physiol. 151(3):970-977.</p>