<script type="text/javascript" src="http://comparative-legumes.org/javascripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/javascripts/ckfinder/ckfinder.js"></script>

<h1>Edit <%= @page.title.humanize %></h1>
<p><%= link_to raw("Return &raquo;"), pages_path %></p>
<% unless @page.user_id.blank? %>
  <p>Last updated by <%= @page.user.first_name %> <%= @page.user.last_name %> on
  <%= @page.updated_at.to_s(:date_time_long) %>.</p>
<% end %>
<%= form_for @page, :html => {:onsubmit => "processingOnSubmit()"} do |f| %>
  <%= render "shared/error_messages", :target => @page %>
  <p>Title: <%= @page.title.humanize %></p>
  <p>
    <%= f.label :body, "Page Body:" %><br />
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Update #{@page.title.humanize}", :id => "submit", :class => "submit" %></p>
<% end %>

<script type="text/javascript">
  CKEDITOR.replaceAll( function(textarea, config){
    config.toolbar = "<%= @tool_bar %>";
  });
  CKFinder.setupCKEditor( null, '/javascripts/ckfinder/');
</script>
