<h1>Overview</h1>
<p><em>Glycine max</em>, more commonly called <strong>soybean</strong>, is an important crop 
grown throughout the world, and one of the reference legumes. The Glycine max genome is a 
partially diploidized tetraploid, approximately 1.1G bp in size.</p>

<h1>Resources</h1>

<p>
	<%= image_tag "soybean_flowers.png", :class => "right", :width => "250px", :alt => "Glycine max" %>
	
	<strong>Genome assembly and annotations</strong><br />
	&nbsp;&nbsp;<%= link_to "Genome assembly at phytozome", "ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v4.1/Gmax/assembly/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Gene predictions at phytozome", "ftp://ftp.jgi-psf.org/pub/JGI_data/phytozome/v4.1/Gmax/annotation/", :target => "_blank" %><br />
	
	<strong>Genome browsers and maps</strong><br />
	&nbsp;&nbsp;<%= link_to "Soybean genome browser at SoyBase", "http://soybase.org/gbrowse/cgi-bin/gbrowse/gmax1.01/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Genetic maps, QTL etc. at SoyBase", "http://soybeanbreederstoolbox.org/index.php", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Soybean genome browser at Phytozome", "http://www.phytozome.net/cgi-bin/gbrowse/soybean/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Phytozome soybean portal", "http://www.phytozome.net/soybean.php", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "PlantGDB Soybean browser", "http://www.plantgdb.org/GmGDB/", :target => "_blank" %><br />
	
	<strong>Transcript assemblies</strong><br />
	&nbsp;&nbsp;<%= link_to "Gene Index (GmGI) at DFCI", "http://compbio.dfci.harvard.edu/tgi/cgi-bin/tgi/gimain.pl?gudb=soybean", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Transcript assemblies at JCVI", "ftp://ftp.tigr.org/pub/data/plantta/Glycine_max/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Transcript assemblies at LIS / comparative-legumes.org", "http://lis.comparative-legumes.org/lis/lis_summary.html?page_type=transcript", :target => "_blank" %><br />
	
	<strong>Gene expression resources</strong><br />
	&nbsp;&nbsp;<%= link_to "Soybean at PlexDB", "http://www.plexdb.org/plex.php?database=Soybean", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Soybean transcript and microarray data at SoyXpress", "http://soyxpress.agrenv.mcgill.ca/cgi-bin/soy/soybean.cgi", :target => "_blank" %>
</p>