<h1>General information about legumes</h1>

<h4>Beans</h4>
<p><%= link_to "Bean", "http://en.wikipedia.org/wiki/Bean", :target => "_blank" %> article at Wikipedia. Includes a list of food legumes: approximately eighteen genera and twenty-eight species. 
Also sections on toxins, production, cultural aspects.</p>

<h4>Legumes</h4>
<p><%= link_to "Legume", "http://en.wikipedia.org/wiki/Legume", :target => "_blank" %> article at Wikipedia. Brief nontechnical overview of the legume family and some characteristics and uses.</p>

<h4>Rhizobia</h4>
<p><%= link_to "Rhizobia", "http://en.wikipedia.org/wiki/Rhizobia", :target => "_blank" %> article at Wikipedia.</p>

<p><%= link_to "Rhizobium germplasm", "http://bldg6.arsusda.gov/pberkum/Public/collection/index.htm", :target => "_blank" %> (USDA ARS). USDA ARS National Rhizobium Germplasm Collection.</p>

<h4>Pulses</h4>
<p><%= link_to "Pulses", "http://en.wikipedia.org/wiki/Pulse_(legume)", :target => "_blank" %> article at Wikipedia. 
Includes the <%= link_to "Food and Agriculture Organization's", "http://en.wikipedia.org/wiki/Food_and_Agriculture_Organization_of_the_United_Nations", :target => "_blank" %> (FAO) classification 
of eleven primary pulse types and approximately twenty-six species within those types.</p>

<h4>Legume diseases</h4>
<p><%= link_to "List of common bean diseases", "http://en.wikipedia.org/wiki/List_of_common_bean_diseases", :target => "_blank" %>, article at Wikipedia.</p>

<h1>Legume species</h1>

<h4>Adzuki bean − Vigna angularis</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3914", :target => "_blank" %></p>

<p><%= link_to "Azuki bean", "http://en.wikipedia.org/wiki/Azuki_bean", :target => "_blank" %> article at Wikipedia.</p>

<h4>Alfalfa − Medicago sativa</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3879", :target => "_blank" %></p>

<h4>Barrel medic − Medicago truncatula</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3880", :target => "_blank" %></p>

<h4>Broad bean − Vicia faba</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3906", :target => "_blank" %></p>

<p><%= link_to "Broad bean", "http://en.wikipedia.org/wiki/Broad_bean", :target => "_blank" %> article at Wikipedia.</p>

<h4>Chickpea − Cicer arietinum</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3827)", :target => "_blank" %></p>

<p><%= link_to "Chickpea", "http://en.wikipedia.org/wiki/Chickpea", :target => "_blank" %> article at Wikipedia.</p>

<h4>Common bean − Phaseolus vulgaris</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3885", :target => "_blank" %></p>

<p><%= link_to "Common bean", "http://en.wikipedia.org/wiki/Common_bean", :target => "_blank" %> article at Wikipedia. Describes broad classes of beans, antinutritional factors, and numerous 
varieties of green (shell) and dry beans.</p>

<h4>Lentil − Lens culinaris</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3864", :target => "_blank" %></p>

<p><%= link_to "Lentil", "http://en.wikipedia.org/wiki/Lentil", :target => "_blank" %> article at Wikipedia.</p>

<h4>Lotus japonicus</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=34305", :target => "_blank" %></p>

<h4>Lupin − Lupinus</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3869", :target => "_blank" %></p>

<p><%= link_to "Lupin", "http://en.wikipedia.org/wiki/Lupin", :target => "_blank" %> article at Wikipedia.</p>

<p><%= link_to "Lupins as a potential crop in Finland", "http://lupin-fin.blogspot.com/", :target => "_blank" %></p>

<p><%= link_to "Lupin diversity", "http://lupindiversity.blogspot.com/", :target => "_blank" %></p>

<p><%= link_to "Online book: Lupins (Geography, classification, genetic resources and breeding)", "http://personal.inet.fi/tiede/lupin/", :target => "_blank" %></p>

<p><%= link_to "lupins.org", "http://www.lupins.org/", :target => "_blank" %>. Information portal for lupins, specializing in production in Australia.</p>

<p><%= link_to "Lupinus mutabilis", "http://en.wikipedia.org/wiki/Lupinus_mutabilis", :target => "_blank" %> article at Wikipedia.</p>

<h4>Mung bean − Vigna radiata</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3916", :target => "_blank" %></p>

<p><%= link_to "Mung bean", "http://en.wikipedia.org/wiki/Mung_bean", :target => "_blank" %> article at Wikipedia.</p>

<h4>Peanut − Arachis hypogaea</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3818", :target => "_blank" %></p>

<p><%= link_to "Peanut", "http://en.wikipedia.org/wiki/Peanut", :target => "_blank" %> Peanut article at Wikipedia.</p>

<h4>Soybean − Glycine max</h4>
<p><%= link_to "NCBI taxonomy", "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=3847", :target => "_blank" %></p>

<p><%= link_to "Soybean", "http://en.wikipedia.org/wiki/Soybean", :target => "_blank" %> article at Wikipedia.</p>

<h1>Sequencing the reference legumes: projects, data, databases</h1>

<h4>General and clade-based</h4>
<p><%= link_to "Legume Information System", root_path %></p>

<p><%= link_to "Legoo", "http://www.legoo.org/", :target => "_blank" %></p>

<p><%= link_to "Bean gene symbols at BeanGenes (NODAK)", "http://beangenes.cws.ndsu.nodak.edu/genes/genes.htm", :target => "_blank" %>. Characterized loci.</p>

<p><%= link_to "Grain Legumes Integrated Project", "http://www.eugrainlegumes.org/", :target => "_blank" %></p>

<p><%= link_to "International Legume Database & Information Service", "http://www.ildis.org/", :target => "_blank" %></p>

<p><%= link_to "http://grainlegumes.com", "http://www.grainlegumes.com/", :target => "_blank" %>. European Union grain legumes research portal.</p>

<h4>Glycine max</h4>
<p><%= link_to "SoyBase", "http://soybase.org/", :target => "_blank" %></p>

<h4>Lotus japonicus</h4>
<p><%= link_to "Lotus japonicus genome Kazusa", "http://www.kazusa.or.jp/lotus/", :target => "_blank" %> DNA Research Institute</p>

<h4>Medicago truncatula</h4>
<p><%= link_to "Medicago genome sequencing project", "http://medicago.org/genome/", :target => "_blank" %></p>

<p><%= link_to "Medicago annotation project JCVI", "http://jcvi.org/cgi-bin/medicago/index.cgi", :target => "_blank" %></p>

<p><%= link_to "Truncatulix Bielefeld", "http://lily.cebitec.uni-bielefeld.de/truncatulix/app", :target => "_blank" %>, Germany. A research platform for Medicago truncatula expression data.</p>

<p><%= link_to "Medicago truncatula Gene Expression Atlas", "http://mtgea.noble.org/v2/", :target => "_blank" %> Noble Foundation</p>

<p><%= link_to "MENS European Medicago EST Navigation System", "http://medicago.toulouse.inra.fr/Mt/EST/", :target => "_blank" %>MENS European Medicago EST Navigation System Toulouse</p>

<p><%= link_to "Medicago functional genomics", "http://medicago.vbi.vt.edu/", :target => "_blank" %> VBI</p>

<p><%= link_to "Medicago TILLING", "http://revgenuk.jic.ac.uk/", :target => "_blank" %> Reverse Genetics UK</p>

<p><%= link_to "Medicago Affymetrix GeneChip Annotations", "http://www.medicago.org/GeneChip/", :target => "_blank" %> USDA-ARS/Minnesota</p>

<p><%= link_to "Medicago functional genomics", "http://www.noble.org/medicago/", :target => "_blank" %> Noble Foundation</p>

<p><%= link_to "Medicago truncatula Handbook", "http://www.noble.org/MedicagoHandbook/", :target => "_blank" %> Noble Foundation</p>

<p><%= link_to "Medicago RNAi Database", "https://mtrnai.msi.umn.edu/", :target => "_blank" %> University of Minnesota</p>

<h4>Phaseolus vulgaris</h4>
<p><%= link_to "Bean Breeder's Molecular Marker Toolbox", "http://phaseolusgenes.bioinformatics.ucdavis.edu/search/", :target => "_blank" %> at UC Davis</p>

<h1>Culinary</h1>
<p><%= link_to "Legume Chef", "http://www.legumechef.com/", :target => "_blank" %>. Interviews with chefs who use legumes; 
bean production in the US.</p>

<p>Article on <%= link_to "dal", "http://en.wikipedia.org/wiki/Dal", :target => "_blank" %> at Wikipedia.</p>

<h1>Miscellaneous</h1>
<p><%= link_to "National Plant Germplasm System / Germplasm Resources Information Network", "http://www.ars-grin.gov/npgs", :target => "_blank" %></p>

<p><%= link_to "Generation Challenge Program (Tropical Legumes I)", "http://www.generationcp.org/gcptli/?da=0787407", :target => "_blank" %>. Generation Challenge Program</p>

<p><%= link_to "Tropical Legumes Project", "http://www.tropicallegumes.org/", :target => "_blank" %></p>

<p><%= link_to "Tropical Legumes-II", "http://www.icrisat.org/tropicallegumesII/", :target => "_blank" %></p>

<p><%= link_to "Tropical forages", "http://www.tropicalforages.info/key/Forages/Media/Html/", :target => "_blank" %> CIAT, FAO, others</p>

<p><%= link_to "Tropical forages: interactive selection tool", "http://www.tropicalforages.info/", :target => "_blank" %> CIAT, FAO, others</p>

<p><%= link_to "Missouri Botanical Garden", "http://www.mobot.org/MOBOT/Research/APweb/orders/fabalesweb.htm", :target => "_blank" %>: Fabales taxonomy Missouri Botanical Garden</p>

<p><%= link_to "Palaeos Fabales Palaeos.org", "http://www.palaeos.org/Fabales", :target => "_blank" %></p>

<p><%= link_to "Legumes of the World Online project Kew", "http://www.kew.org/science/directory/projects/LegumesOfWorldOnline.html", :target => "_blank" %></p>

<p><%= link_to "Genepool and gap analysis", "http://gisweb.ciat.cgiar.org/GapAnalysis/?cat=5", :target => "_blank" %>. Detailed analysis of potential collection gaps for thirteen crop gene pools 
including Cajanus, Cicer, Lens, Phaseolus, Vigna, and Vicia.</p>

<p><%= link_to "Desert legume program", "http://cals.arizona.edu/desertlegumeprogram/", :target => "_blank" %> University of Arizona</p>

<p><%= link_to "Phytozome", "http://www.phytozome.net/", :target => "_blank" %> Green plant comparative genomics.</p>

<p><%= link_to "Index to plant chromosome numbers", "http://www.tropicos.org/Project/IPCN", :target => "_blank" %></p>

<p><%= link_to "United Soybean Board", "http://www.unitedsoybean.org/default.aspx", :target => "_blank" %></p>

<p><%= link_to "National Soybean Research Laboratory", "http://www.nsrl.uiuc.edu/", :target => "_blank" %> (NSRL)</p>

<p><%= link_to "Lost Crops of the Incas", "http://www.nap.edu/openbook.php?isbn=030904264X", :target => "_blank" %> (online book) NAP</p>

<p><%= link_to "USDA National Agricultural Statistics Service", "http://www.nass.usda.gov/", :target => "_blank" %> USDA</p>