<h1>Overview</h1>
<p><em>Medicago truncatula</em> cultivar Jemalong A17 is a reference legume, 550M bp, 2n = 16. 
The euchromatic region has been sequenced BAC by BAC, partially supplemented by an assembly of 
Illumina/Solexa paired short sequence reads.</p>

<h1>Resources</h1>
<p>
	<%= image_tag "medicago.png", :class => "right", :width => "250px", :alt => "Medicago truncatula" %>
	
	<strong>Genome assembly and annotations</strong><br />
	&nbsp;&nbsp;<%= link_to "Genome release version 3.0", "http://www.medicago.org/genome/downloads/Mt3/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Genome Annotation Group (IMGAG)", "http://www.medicago.org/genome/IMGAG/", :target => "_blank" %><br />
	
	<strong>Genome browsers</strong><br />
	&nbsp;&nbsp;<%= link_to "GBrowse at JCVI", "http://gbrowse.jcvi.org/cgi-bin/gbrowse/medicago_imgag/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "NCBI Map Viewer", "http://www.ncbi.nlm.nih.gov/projects/mapview/map_search.cgi?taxid=3880", :target => "_blank" %><br />
	
	<strong>Transcript assemblies</strong><br />
	&nbsp;&nbsp;<%= link_to "Gene Index (MtGI) at DFCI", "http://compbio.dfci.harvard.edu/tgi/cgi-bin/tgi/gimain.pl?gudb=Medicago", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Transcript assemblies at JCVI", "ftp://ftp.tigr.org/pub/data/plantta/Medicago_truncatula/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Transcript assemblies at LIS / comparative-legumes.org", "http://lis.comparative-legumes.org/lis/lis_summary.html?page_type=transcript", :target => "_blank" %><br />
	
	<strong>Gene expression resources</strong><br />
	&nbsp;&nbsp;<%= link_to "Gene Expression Atlas (MtGEA)", "http://mtgea.noble.org/v2/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Affymetrix - GeneChip&reg; Medicago Genome Array", "http://www.affymetrix.com/browse/products.jsp?productId=131472&navMode=34000&navAction=jump&aId=productsNav", :target => "_blank" %><br />
	
	<strong>Genome Sequencing Consortium and resources</strong><br />
	&nbsp;&nbsp;<%= link_to "Sequencing Consortium", "http://en.wikipedia.org/wiki/Medicago_truncatula#Medicago_Truncatula_Sequencing_Consortium", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Sequencing Resources", "http://www.medicago.org/genome/index.php", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Genetic markers", "http://www.medicago.org/genome/downloads/Mt_genetic_markers_Oct_2009.txt/", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "BAC end sequences", "http://www.medicago.org/genome/downloads.php", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Stock Center at INRA", "http://www1.montpellier.inra.fr/BRC-MTR//", :target => "_blank" %><br />
	&nbsp;&nbsp;<%= link_to "Mt Database at JCVI", "http://www.jcvi.org/cgi-bin/medicago/index.cgi", :target => "_blank" %>
</p>

<h1>Selected references</h1>
<ul class="web">
	<li>
		Young ND & Udvardi M (2009) <%= link_to "Translating Medicago truncatula genomics to crop legumes", "http://www.ncbi.nlm.nih.gov/pubmed/19162532", :target => "_blank" %>. 
		<em>Curr Opin Plant Biol</em> <strong>12</strong>: 193-201.
	</li>
	<li>
		Bertioli <em>et al</em>. (2009) 
		<%= link_to "An analysis of synteny of Arachis with Lotus and Medicago sheds new light on the structure, stability and evolution of legume genomes", "http://www.ncbi.nlm.nih.gov/pubmed/19166586", :target => "_blank" %>. 
		<em>BMC Genomics</em> <strong>10</strong>: 45.
	</li>
	<li>
		Benedito <em>et al</em>. (2008) <%= link_to "A gene expression atlas of the model legume Medicago truncatula", "http://www.ncbi.nlm.nih.gov/pubmed/18410479", :target => "_blank" %>. 
		<em>Plant J</em> <strong>55</strong>: 504-13.
	</li>
	<li>
		Young ND & Shoemaker RC (2006) 
		<%= link_to "Genome studies and molecular genetics: Part 1 Model legumes. Exploring the structure, function and evolution of legume genomes", "http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6VS4-4J7H4HH-2&_user=10&_origUdi=B6VS4-4J5T8D2-5&_fmt=high&_coverDate=04/30/2006&_rdoc=1&_orig=article&_acct=C000050221&_version=1&_urlVersion=0&_userid=10&md5=7f89fb314a09c84e2b5e4083d2b0738d", :target => "_blank" %>. 
		<em>Curr Opin Plant Biol</em> <strong>9</strong>: 95-8.
	</li>
	<li>
		Town CD (2006) 
		<%= link_to "Annotating the genome of Medicago truncatula", "http://www.sciencedirect.com/science?_ob=ArticleURL&_udi=B6VS4-4J5T8D2-5&_user=10&_rdoc=1&_fmt=&_orig=search&_sort=d&_docanchor=&view=c&_acct=C000050221&_version=1&_urlVersion=0&_userid=10&md5=d8780b9c331e25d3d0297ee28e62020d", :target => "_blank" %>. 
		<em>Curr Opin Plant Biol</em> <strong>9</strong>: 122-7.
	</li>
	<li>
		Cannon <em>et al</em>. (2006) Legume evolution viewed through the Medicago truncatula and Lotus japonicus genomes. 
		Proc Natl Acad Sci 103: 14959-64.
	</li>
	<li>
		Young <em>et al</em>. (2005) 
		<%= link_to "Sequencing the genespaces of Medicago truncatula and Lotus japonicus", "http://www.ncbi.nlm.nih.gov/pubmed/17003129", :target => "_blank" %>. 
		<em>Plant Physiol</em> <strong>137</strong>: 1174-81.
	</li>
	<li>
		Mudge <em>et al</em>. (2005) 
		<%= link_to "Highly syntenic regions in the genomes of soybean, Medicago truncatula, and Arabidopsis thaliana", "http://www.ncbi.nlm.nih.gov/pubmed/16102170", :target => "_blank" %>. 
		<em>BMC Plant Biol</em> <strong>5</strong>: 15.
	</li>
</ul>
