<h1>Manage Role for <%= @profile.first_name %> <%= @profile.last_name %></h1>

<%= form_for @profile, :url => update_roles_user_profile_path(@profile) do %>
  <% for role in @all_roles %>
    <% checked = (@profile.roles.index(role) != nil) %>
    <%= check_box_tag("user_role[]", role.id, checked) %>
    <%= role.name %>
    <br />
  <% end %>
  <p><%= submit_tag 'Update Roles' %></p>
<% end %>

<%= render :partial => "shared/user_profile_links" %>

