<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="alternate" type="application/rss+xml" title="News Articles" href="news_articles.rss" />
        <%= javascript_include_tag :all %>
        <%= stylesheet_link_tag :all %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="main">
            <div id="content">
                <div id="logo">
                    <div id="logo_left"></div>
                    <div id="logo_right">
                        <div id="rss">
                            <%= link_to image_tag("feed.png", :alt => "RSS Feed"), news_articles_url(:rss) %>
                        </div>
                        <div id="google_translate_element"></div>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                  new google.translate.TranslateElement({
                                    pageLanguage: 'en'
                                  }, 'google_translate_element');
                                }
                            </script>
                            <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </div>
                </div>
                <div id="nav">
                    <ul class="level1" id="root">
					    <li><%= link_to "Home", "/" %></li> 
					    <li class="sep">|</li>
					    <li><%= link_to "About", page_path('about') %></li> 
					    <li class="sep">|</li>
					    <li><%= link_to "News", news_articles_path %></li>
					    <li class="sep">|</li>
					    <li><%= link_to "Development", development_activities_path %></li>  
					    <li class="sep">|</li>
					    <li>
					        <a href="#" class="no_cursor">Search</a> 
					        <ul class="level2"> 
					            <li><%= link_to "Search by sequence", "http://search.comparative-legumes.org/seqqle/new" %></li> 
					        </ul> 
					    </li> 
					    <li class="sep">|</li>
					    <li>
					        <a href="#" class="no_cursor">Maps</a> 
					        <ul class="level2"> 
					            <li><%= link_to "Comparative map views", "http://cmap.comparative-legumes.org/index.html" %></li> 
					        </ul> 
					    </li> 
					    <li class="sep">|</li>
					    <li>
					        <a href="#" class="no_cursor">Reference Species</a> 
					        <ul class="level2"> 
					            <li><%= link_to "Glycine max", page_path('glycine_max') %></li>
					            <li><%= link_to "Medicago truncatula", page_path('medicago_truncatula') %></li>
					            <li><%= link_to "Lotus japonicus", page_path('lotus_japonicus') %></li>
					        </ul> 
					    </li>
					    <li class="sep">|</li>
					    <li>
					        <a href="#" class="no_cursor">Research Community</a> 
					        <ul class="level2"> 
					            <li><%= link_to "Links", page_path('links') %></li>
					            <li><%= link_to "Participating groups", page_path('participating_groups') %></li>
					        </ul> 
					    </li>
					    <li class="sep">|</li>
					    <li>
					        <a href="#" class="no_cursor">LIS Classic</a> 
					        <ul class="level2"> 
					            <li><%= link_to "Genomes", "http://lis.comparative-legumes.org/lisg/lis_summary.html?page_type=genomic" %></li>
					            <li><%= link_to "Transcripts", "http://lis.comparative-legumes.org/lis/lis_summary.html?page_type=transcript" %></li>
					            <li><%= link_to "Maps", "http://lis.comparative-legumes.org/lis/lis_summary.html?page_type=cmap" %></li>
					            <li><%= link_to "Pathways", "http://soybase.ncgr.org/cgi-bin/ace/generic/search/soybase?class=Reaction_or_pathway" %></li>
					        </ul> 
					    </li>
					    <li class="sep">|</li>
					    <li><%= link_to "Collaborators", page_path('collaborators') %></li> 
					</ul> 
                </div>
                <div id="frame">
                    <div id="singlecol">
                        <div id="interior">
                            <h1>Oops! The page you requested doesn't exist.</h1>
							<p>
							    You may have mistyped the address or the page may have moved. Please check your 
							    URL or <%= link_to "click here", root_path %> to go home.
							</p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div id="footer">
			    <p><strong>Legume Information System</strong> <%= Time.now.strftime('%B %Y')%></p>
			</div>
        </div>
        <script type="text/javascript"> 
            $("logo_left").observe("click", function() {
                document.location.pathname="/";
            });
        </script>
    </body>
</html>
