<!DOCTYPE html>
<html>
  <head>
    <title>Legume Information System</title>
    <%= stylesheet_link_tag "application" %>
    <link rel="alternate" type="application/rss+xml" title="News Articles" href="news_articles.rss" />
    <%= javascript_include_tag "application", "/javascripts/jquery-1.8.3.min.js",
      "/javascripts/jquery-ui.min.js" %>
    <script type="text/javascript">
      var $j = jQuery.noConflict();
    </script>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="main">
      <%= render :partial => "shared/user_nav" %>
      <div id="content">
        <div id="logo">
          <div id="logo_left"></div>
          <div id="logo_right">
            <div id="rss">
              <%= link_to image_tag("feed.png", :alt => "RSS Feed"), news_articles_url(:rss) %>
            </div>
            <div id="google_translate_element"></div>
            <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                  pageLanguage: 'en'
                }, 'google_translate_element');
              }
            </script>
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </div>
        </div>
        <div id="nav">
          <%= render :partial => "shared/nav" %>
        </div>
        <div id="frame">
          <div id="singlecol">
            <div id="interior">
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => name %>
              <% end %>
              <%= yield %>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
  <script type="text/javascript" src="/javascripts/application-jquery.js"></script>
</html>
