<!DOCTYPE html>
<html>
  <head>
    <title>Legume Information System</title>
    <link rel="alternate" type="application/rss+xml" title="News Articles" href="news_articles.rss" />
    <%= javascript_include_tag :defaults, "dropdownnav" %>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="main">
      <%= render :partial => "shared/user_nav" %>
      <div id="content">
        <div id="logo">
          <div id="rss">
            <%= link_to image_tag("feed.png", :alt => "RSS Feed"), news_articles_url(:rss) %>
          </div>
          <div id="google_translate_element"></div>
          <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({
                pageLanguage: 'en'
              }, 'google_translate_element');
            }
          </script>
          <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
        <div id="nav">
          <%= render :partial => "shared/nav" %>
        </div>
        <div id="frame">
          <div id="leftcol">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => name %>
            <% end %>
            <%= yield %>
          </div>
          <div id="rightcol">
            <%= yield :rightcol %>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>

